<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- <script type="text/javascript"  -->
  <!--    src="/static/js/calc.js"> -->
  <!-- </script> -->
</head>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/calc.css" />

<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">

<h1>ACP Brevet Closing times</h1>

  <!--
  -- If there are any warnings or other messages from a prior
  -- request to the server, 
  -- they appear above the rest of the content, just until the next 
  -- action.  (This is only on request/response transactions that
  -- result in regenerating the page, not on every xmlhttp request.) 
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<!--design for  bravet -->
<form role="form">
<div class ="row">
  <label class ="col-md-1" for ="brevet"> brevet </label>
    <select class ="dropdown" id = "brevet">
      <option>200</option>
      <option>300</option>
      <option>400</option>
      <option>600</option>
      <option>1000</option>
    </select>
</div>

<!--design for date -->
<div class ="row">

  <label class ="col" for = "date">input date</label>
    <input class ="col--2" id = "date" placeholder ="mm/dd/yyyy">
</div>


<!--design for time -->
<div class ="row">

  <label class ="col" for ="time">input time</label>
    <input class = "col-wm-2" id ="time" placeholder = "HH:mm">
</div>


<!-- Design on bootstrap grid -->
<div class="row">
  <div class="col-md-2">
    <input type="text" class="form-control"
     name="miles" value="Distance in miles"/>
  </div>
  <div class="col-md-4">
    <input type="text" class="form-control"
      name="location" value="location" />
  </div>
  <div class="col-md-4">
    <span class="opentime form-control">(open time)</span>
    <span class="closetime form-control">(close time)</span>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <input type="text" class="form-control"
     name="miles" value="Distance in miles"/>
  </div>
  <div class="col-md-4">
    <input type="text" class="form-control"
      name="location" value="location" />
  </div>
  <div class="col-md-4">
    <span class="opentime form-control">(open time)</span>
    <span class="closetime form-control">(close time)</span>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <input type="text" class="form-control"
     name="miles" value="Distance in miles"/>
  </div>
  <div class="col-md-4">
    <input type="text" class="form-control"
      name="location" value="location" />
  </div>
  <div class="col-md-4">
    <span class="opentime form-control">(open time)</span>
    <span class="closetime form-control">(close time)</span>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <input type="text" class="form-control"
     name="miles" value="Distance in miles"/>
  </div>
  <div class="col-md-4">
    <input type="text" class="form-control"
      name="location" value="location" />
  </div>
  <div class="col-md-4">
    <span class="opentime form-control">(open time)</span>
    <span class="closetime form-control">(close time)</span>
  </div>
</div>
</form>

<script type="text/javascript">

  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  $(document).ready(function(){
   // Do the following when the page is finished loading

      // When a field named 'miles' is changed ...
      $('input[name="miles"]').change(
          // ... execute this function
          function(){
              var e_miles = $(this).val();
              var e_brevet = document.getElementById("brevet").value;
              var e_date = document.getElementById("date").value;
              var e_time = document.getElementById("time").value;

              //var target = $(this).parents(".row").find(".times");
              var opentime_target = $(this).parents(".row").find(".opentime");
              var closetime_target = $(this).parents(".row").find(".closetime");

              // DEBUG: How do I replace the 'times' field?
              // alert("Content of the field I want to change: " +
              //   target.html());

              // AJAX request
              $.getJSON($SCRIPT_ROOT + '/_calc_times',
                  // The object to pass to the server
                  { miles: e_miles, brevet: e_brevet, date: e_date, time: e_time },

                  // The function to call with the response
                  function(data) {
                     var sbmhdtimes = data.result;
                     sbaim = JSON.parse(sbmhdtimes);
                     //var closetimes = data.result
                     // alert("Got a response: " +  times);
                     opentime_target.text(sbaim.sb);
                     closetime_target.text(sbaim.mhd);
                  }); // End of the call to getJSON
          });  // End of the function to be called when field changes
              

     });   // end of what we do on document ready

</script>

</div>
</body> </html>
